* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.ball1, .ball2, .ball3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;

    font-size: 22px;
    font-weight: bold;
    background-color: #F38181;

    transition: width 1s, height 1s;
}

.ball2 {
    background-color: #FCE38A;
}

.ball3 {
    background-color: #EAFFD0;
}
