* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.ball1, .ball2, .ball3, .ball4, .ball5 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;

    font-size: 22px;
    font-weight: bold;
    background-color: #F38181;

    transition: width 1s, height 1s, background-color 0.5s;
}

.ball1{
    margin-top: 5vh;
}

.ball2 {
    background-color: #FCE38A;
}

.ball3 {
    background-color: #EAFFD0;
}

.ball4 {
    background-color: #95E1D3;
}

.ball5 {
    width: 120px;
    height: 120px; 
    font-size: 20px;
    text-align: center;
    background-color: #B7E0FF;
}
